@import "tailwindcss";

:root {
  --background: #202124;
  /* --foreground: #fff; */
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat-sans);
  --color-primary: "#2D8CFF";
  --color-primary-dark: "#1A73E8";
  --color-background: "#202124";
  --color-surface: "#3C4043";
  --color-surface-dark: "#E5E5E5";
  --color-accent: "#0F9D58";
  --color-error: "#DB4437";
  --color-success: "#0F9D58";
  --color-warning: "#F4B400";
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* 
@layer base {
  body {
    @apply bg-background text-surface-dark font-montserrat;
  }
} */

@layer utilities {
  .speaking-border {
    @apply outline outline-primary;
  }
  .participant-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

body {
  background: var(--background);
  color: var(--color-surface-dark);
  /* font-family: Arial, Helvetica, sans-serif; */
}
